/*=====================*/
/* Content
/*=====================*/

.content {
  width: 90%;
  margin: auto;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.content {
  background-color: white;
}


/*=====================*/
/* Main-Header
/*=====================*/

.main-logo {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.logo img {
  width: 100px;
}

.main-logo {
  padding-bottom: 5em;
  padding-top: 3em;
}

/*=====================*/
/* H1/h2/h3..
/*=====================*/

.text-1, .text-2 {
  display: inline;
}

/*=====================*/
/* Main-gallery
/*=====================*/

.main-gallery {
  text-align: center;
  padding-bottom: 2em;
}

.gallery li {
  display: inline-block;
  zoom: 1.1;
  position: relative;
  margin: 10px;
}

.gallery li img {
  width: 500px;
  height: 250px;
}


/*=====================*/
/* overlay
/*=====================*/

.photo-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color:white;
  font-size: 2em;
  transition-duration: .4s;
}

.photo-overlay:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
